*{
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
}

body{
  background-color: white;
  height: 100vh;
}

.header{
  background-color: #E0FBFC;
  width: auto;
  height: 217px;
}

.barra1{
  background-color: #293241;
  height: 40px;
  align-items: center;
  justify-content: center;
  display: flex;
}
.botoesIcones{
  margin-left: 1448px;
}
.barra1 button {
  background: none;
  border: none;
  padding: 0 20px 0 0;
  cursor: pointer;
}

.barra1 button img {
  width: 2.25rem;
  height: 2.25rem;
}

.barra2 {
  align-items: center;
  justify-content: center;
  display: flex;
  height: 187px;
}

.logo{
  margin-right: auto;
}

.logo img{
  width: 344px;
  height: 106px;
}

.text-box{
  height: 187px;
  width: 200px;
  padding: 0px 200px 0 0;
  align-items: center;
  justify-content: center;
  display: flex;
  cursor: pointer;
}

.text-box :hover{
  background-color: rgb(202, 202, 202);
  align-items: center;
  justify-content: center;
  display: flex;
  height: 80px;
  width: 150px;
  transition-delay: 0.125s;
  border-radius: 15px;
}

.banner1 {
  align-items: center;
  justify-content: center;
  display: flex;
  position: relative;
}

.banner_banner-normal{
  position: absolute;
  height: 772px;
  width: 1665px;
}

.banner1-rectangle {
  position: absolute;
  height: 214px;
  width: 519px;
  background-color: white;
  display: relative;
  border-radius: 10px;
  margin-left: 1300px;
  margin-top: 480px;
}

/*Recursividade */

@media (max-width: 1700px) {
  .botoesIcones {
    margin-left: 1200px;
  }
}
@media (max-width: 1500px) {
  .botoesIcones {
    margin-left: 1000px;
  }
}
@media (max-width: 1300px) {
  .botoesIcones {
    margin-left: 800px;
  }
}
@media (max-width: 1000px) {
  .botoesIcones {
    margin-left: 600px;
  }
}
@media (max-width: 800px) {
  .botoesIcones {
    margin-left: 500px;
  }
}

@media (max-width: 600px) {
  .botoesIcones {
    margin-left: 300px;
  }
}