*{
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
}

body{
  background-color: white;
  height: 100vh;
}

.header{
  background-color: #E0FBFC;
  width: auto;
  height: 200px;
}

.barra1{
  background-color: #293241;
  height: 40px;
  align-items: center;
  justify-content: center;
  display: flex;
}
.botoesIcones{
  margin-left: 1448px;
}
.barra1 button {
  background: none;
  border: none;
  padding: 0 20px 0 0;
  cursor: pointer;
}

.barra1 button img {
  width: 2.25rem;
  height: 2.25rem;
}

.barra2 {
  align-items: center;
  justify-content: center;
  display: flex;
  height: 187px;
}

.logo{
  margin-right: auto;
}

.logo img{
  width: 344px;
  height: 106px;
  padding-left: 100px;
}

.text-box{
  height: 80px;
  width: 150px;
  padding: 0px 200px 0 0;
  align-items: center;
  justify-content: center;
  display: flex;
  cursor: pointer;
}
.text-box p{
  color:#293241;
  font-size: 19px;
}

.text-box :hover{
  background-color: rgb(202, 202, 202);
  align-items: center;
  justify-content: center;
  display: flex;
  height: 80px;
  width: 150px;
  transition-delay: 0.05s;
  border-radius: 15px;
}

.banner1 {
  align-items: center;
  justify-content: center;
  display: flex;
  position: relative;
}

.banner_banner-normal{
  position: absolute;
  height: 772px;
  width: 1665px;
}

.profissional {
  text-align: center;
  justify-content: center;
  display: flex;
  padding: 50px;
  font-size: 40px;
  color: #3D5A80;
  font-weight: bold;
}

.profissional-box-1{
  height: 634px;
  width: 1483px;
  background:linear-gradient(to bottom, #293241, #3D5A80);
  border-radius: 20px;
  margin-left: 90px;
}

.profissional-box-1 img{
  margin-left: 80px;
  margin-top: 50px
}

.profissional-box-1 h3 {
  color: white;
  margin-left: 325px;
  margin-top: -140px;
  font-weight:normal;
  font-size: 30px;
}

.profissional-box-1 p {
  color: white;
  margin-left: 80px;
  margin-top: 100px;
  font-size: 20px;
}

.profissional-box-2{
  height: 634px;
  width: 1483px;
  background:linear-gradient(to bottom, #293241, #3D5A80);
  border-radius: 20px;
  margin-left: 300px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.profissional-box-2 img{
  margin-left: 80px;
  margin-top: 50px
}

.profissional-box-2 h3 {
  color: white;
  margin-left: 325px;
  margin-top: -140px;
  font-weight:normal;
  font-size: 30px;
}

.profissional-box-2 p {
  color: white;
  margin-left: 80px;
  margin-top: 120px;
  font-size: 20px;
}

.carrossel-conteiner {
  width: 100%;
  height: 988px;
  background-color: #1e1e1e;
}

.carrossel-conteiner-title{
  color: #E0FBFC;
  justify-content: center;
  align-items: center;
  display: flex;
  padding-bottom: 75px ;
  font-size: 35px;
}

.carrossel-conteiner-images{
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

.slider{
  opacity: 0;
  transition: opacity .2s;
  position: absolute;
  width: 478px;
  height: 594px;
  padding-top: 700px;
}

.on{
  opacity: 1;
}

#prev-button{
  width: 65px;
  height: 55px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin-top: 700px;
  margin-left: 865px;
}

#next-button{
width: 65px;
height: 55px;
border: none;
background-color: transparent;
cursor: pointer;
margin-top: 700px;
}

#prev-button img, #next-button img {
  width: 100%;
  height: 100%;
}



/*Responsividade */

@media (max-width: 1700px) {
  .botoesIcones {
    margin-left: 1200px;
  }
}
@media (max-width: 1500px) {
  .botoesIcones {
    margin-left: 1000px;
  }
}
@media (max-width: 1300px) {
  .botoesIcones {
    margin-left: 800px;
  }
}
@media (max-width: 1000px) {
  .botoesIcones {
    margin-left: 600px;
  }
}
@media (max-width: 800px) {
  .botoesIcones {
    margin-left: 500px;
  }
}

@media (max-width: 600px) {
  .botoesIcones {
    margin-left: 300px;
  }
}