*{
  padding: 0;
  margin: 0;
}

body{
  background-color: white;
  height: 100vh;
}

.header{
  background-color: #E0FBFC;
  width: auto;
  height: 217px;
}

.barra1{
  background-color: #293241;
  height: 40px;
  align-items: center;
  justify-content: center;
  display: flex;
}
.botoesIcones{
  margin-left: 1448px;
}
.barra1 button {
  background: none;
  border: none;
  padding: 0 10px 0 0;
  cursor: pointer;
}

.barra1 button img {
  width: 2.25rem;
  height: 2.25rem;
}